:root.Mode 1 {
--collection1-color: #FFFFFF;
--collection1-number: 0;
--collection1-boolean: false;
--collection1-color2: #FFFFFF;
--collection1-boolean2: false;
--collection1-color3: #FFFFFF;
--collection1-color4: #FFFFFF;
--collection1-color5: #FFFFFF;
--collection1-color6: #FFFFFF;
--collection1-color7: #FFFFFF;
--collection1-color8: #FFFFFF;
--collection1-color9: #FFFFFF;
--collection1-color10: #FFFFFF;
--collection1-string: String value;
--collection1-number2: 0;
--collection1-color11: #FFFFFF;
--collection1-color12: #FFFFFF;
--collection1-number3: 0;
--collection1-string2: String value;
--collection1-number4: 0;
--collection1-color13: #FFFFFF;
--collection1-string3: String value;
--collection1-number5: 0;
--collection1-color14: #FFFFFF;
--collection1-string4: String value;
--collection1-color15: #FFFFFF;
--collection1-number6: 0;
--collection1-color16: #FFFFFF;
--collection1-number7: 0;
--collection1-color17: #FFFFFF;
--collection1-string5: String value;
--collection1-string6: String value;
--collection1-number8: 0;
--collection1-number9: 0;
--collection1-color18: #FFFFFF;
--collection1-color19: #FFFFFF;
--collection1-number10: 0;
--collection1-color20: #FFFFFF;
--collection1-boolean3: false;
--collection1-number11: 0;
--collection1-string7: String value;
--collection1-color21: #FFFFFF;
--collection1-string8: String value;
--collection1-number12: 0;
--collection1-color22: #FFFFFF;
--collection1-number13: 0;
--collection1-boolean4: false;
--collection1-number14: 0;
--collection1-string9: String value;
--collection1-number15: 0;
--collection1-boolean5: false;
}
