:root.light {
color-scheme:light;
--vcui-input2-size-large: ERROR: Unresolved Alias ID VariableID:21023:516;
--vcui-input2-size-default: ERROR: Unresolved Alias ID VariableID:21023:517;
--vcui-input2-size-small: ERROR: Unresolved Alias ID VariableID:21023:518;
--vcui-input2-padding-large-x: 10;
--vcui-input2-padding-large-y: 5;
--vcui-input2-padding-default-x: 24;
--vcui-input2-padding-default-y: 20;
--vcui-input2-padding-small-x: 24;
--vcui-input2-padding-small-y: 20;
--vcui-input2-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-input2-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-input2-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-input2-font-weight-xsmall: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-input2-font-size-large: 20;
--vcui-input2-font-size-default: 20;
--vcui-input2-font-size-small: 16;
--vcui-input2-font-size-xsmall: 14;
--vcui-input2-text-color: #221A19;
--vcui-input2-border: ERROR: Unresolved Alias ID VariableID:21023:508;
--vcui-input2-hover-border-color: ERROR: Unresolved Alias ID VariableID:21023:513;
--vcui-input2-focus: #221A19;
--vcui-input2-bg-color: ERROR: Unresolved Alias ID VariableID:21023:534;
--vcui-input2-bg-disabled: ERROR: Unresolved Alias ID VariableID:21023:545;
--vcui-input2-icon-color: ERROR: Unresolved Alias ID VariableID:21023:526;
--vcui-input2-placeholder: #7A7675;
--vcui-input2-clear-hover-color: ERROR: Unresolved Alias ID VariableID:21023:525;
--vcui-input2-error-color: #FFFFFF;
--vcui-button-size-large: ERROR: Unresolved Alias ID VariableID:21023:516;
--vcui-button-size-default: ERROR: Unresolved Alias ID VariableID:21023:517;
--vcui-button-size-small: ERROR: Unresolved Alias ID VariableID:21023:518;
--vcui-button-padding-large-x: 18;
--vcui-button-padding-large-y: 0;
--vcui-button-padding-default-x: 15;
--vcui-button-padding-default-y: 0;
--vcui-button-padding-small-x: 13;
--vcui-button-padding-small-y: 0;
--vcui-button-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-button-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-button-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-button-font-size-large: ERROR: Unresolved Alias ID VariableID:21023:498;
--vcui-button-font-size-default: ERROR: Unresolved Alias ID VariableID:21023:499;
--vcui-button-font-size-small: ERROR: Unresolved Alias ID VariableID:21023:500;
--vcui-button-border-color: #E9E8E8;
--vcui-button-border-radius-default: 6;
--vcui-button-border-radius-large: 6;
--vcui-button-border-radius-small: 6;
--vcui-button-bg-color: ERROR: Unresolved Alias ID VariableID:21023:534;
--vcui-button-text: ERROR: Unresolved Alias ID VariableID:21023:486;
--vcui-button-disabled-text-color: #FFFFFF;
--vcui-button-disabled-bg: ERROR: Unresolved Alias ID VariableID:21023:534;
--vcui-button-disabled-border: ERROR: Unresolved Alias ID VariableID:21023:509;
--vcui-button-hover-text: #FFFFFF;
--vcui-button-hover-bg: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-hover-border: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-link-text: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-active-color: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-active-text-color: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-active-border: ERROR: Unresolved Alias ID VariableID:21023:470;
--vcui-button-active-bg: ERROR: Unresolved Alias ID VariableID:21023:468;
--vcui-button-primary-text: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-primary-bg: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-primary-border: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-primary-active: ERROR: Unresolved Alias ID VariableID:21023:467;
--vcui-button-primary-hover-text: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-primary-hover-link-text-color: ERROR: Unresolved Alias ID VariableID:21023:463;
--vcui-button-primary-hover-bg-color: ERROR: Unresolved Alias ID VariableID:21023:467;
--vcui-button-primary-hover-border: ERROR: Unresolved Alias ID VariableID:21023:462;
--vcui-button-primary-disabled-text: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-primary-disabled-bg: ERROR: Unresolved Alias ID VariableID:21023:465;
--vcui-button-primary-disabled-border: ERROR: Unresolved Alias ID VariableID:21023:465;
--vcui-button-secondary-text-color: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-secondary-bg: ERROR: Unresolved Alias ID VariableID:21023:471;
--vcui-button-secondary-border: ERROR: Unresolved Alias ID VariableID:21023:471;
--vcui-button-secondary-outline: ERROR: Unresolved Alias ID VariableID:21023:474;
--vcui-button-secondary-active: ERROR: Unresolved Alias ID VariableID:21023:478;
--vcui-button-secondary-hover-text: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-secondary-hover-link-text-color: ERROR: Unresolved Alias ID VariableID:21023:474;
--vcui-button-secondary-hover-bg-color: ERROR: Unresolved Alias ID VariableID:21023:478;
--vcui-button-secondary-hover-border: ERROR: Unresolved Alias ID VariableID:21023:473;
--vcui-button-secondary-disabled-text: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-secondary-disabled-bg: ERROR: Unresolved Alias ID VariableID:21023:476;
--vcui-button-secondary-disabled-border: ERROR: Unresolved Alias ID VariableID:21023:476;
--vcui-tooltip-font-size-large: 30;
--vcui-tooltip-font-size-default: 25;
--vcui-tooltip-font-size-small: 20;
--vcui-tooltip-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-tooltip-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-tooltip-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-tooltip-padding-large-x: 18;
--vcui-tooltip-padding-large-y: 14;
--vcui-tooltip-padding-default-x: 16;
--vcui-tooltip-padding-default-y: 12;
--vcui-tooltip-padding-small-x: 12;
--vcui-tooltip-padding-small-y: 10;
--vcui-tooltip-bg-color: ERROR: Unresolved Alias ID VariableID:21023:522;
--vcui-tooltip-text: ERROR: Unresolved Alias ID VariableID:21023:524;
--vcui-tooltip-border-radius: ERROR: Unresolved Alias ID VariableID:21023:504;
--vcui-tooltip-border-color: ERROR: Unresolved Alias ID VariableID:21023:509;
--vcui-tooltip-dark-bg-color: ERROR: Unresolved Alias ID VariableID:21023:486;
--vcui-tooltip-dark-text: ERROR: Unresolved Alias ID VariableID:21023:487;
--vcui-tooltip-dark-border: ERROR: Unresolved Alias ID VariableID:21023:509;
--vcui-tabs-text-color: #BDBABA;
--vcui-tabs-font-size-large: 40;
--vcui-tabs-font-size-default: 18;
--vcui-tabs-font-size-small: 18;
--vcui-tabs-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:488;
--vcui-tabs-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:488;
--vcui-tabs-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:488;
--vcui-tabs-padding-default-top: 0;
--vcui-tabs-padding-default-bottom: 0;
--vcui-tabs-padding-default-left: 6;
--vcui-tabs-padding-default-right: 6;
--vcui-tabs-padding-large-top: 0;
--vcui-tabs-padding-large-bottom: 0;
--vcui-tabs-padding-large-left: 16;
--vcui-tabs-padding-large-right: 16;
--vcui-tabs-padding-small-top: 0;
--vcui-tabs-padding-small-bottom: 0;
--vcui-tabs-padding-small-left: 6;
--vcui-tabs-padding-small-right: 6;
--vcui-tabs-active-weight: ERROR: Unresolved Alias ID VariableID:21023:488;
--vcui-tabs-active-text: #221A19;
--vcui-tabs-active-border: #EA2626;
--vcui-tabs-border-color: ERROR: Unresolved Alias ID VariableID:21023:512;
--vcui-tabs-border-width: 1.5;
--vcui-tabs-margin-left: 5;
--vcui-select-option-text-color: ERROR: Unresolved Alias ID VariableID:21023:524;
--vcui-select-option-font-size-large: 30;
--vcui-select-option-font-size-default: 24;
--vcui-select-option-font-size-small: 18;
--vcui-select-option-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-select-option-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-select-option-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-select-option-padding-large-left: 20;
--vcui-select-option-padding-large-right: 40;
--vcui-select-option-padding-large-y: 10;
--vcui-select-option-padding-default-left: 15;
--vcui-select-option-padding-default-right: 30;
--vcui-select-option-padding-default-y: 8;
--vcui-select-option-padding-small-left: 15;
--vcui-select-option-padding-small-right: 30;
--vcui-select-option-padding-small-y: 8;
--vcui-select-option-active-text: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-select-option-active-weight: ERROR: Unresolved Alias ID VariableID:21023:488;
--vcui-select-option-active-bg: ERROR: Unresolved Alias ID VariableID:21023:529;
--vcui-select-option-active-radius: 5;
--vcui-checkbox-size-large: 24;
--vcui-checkbox-size-default: 24;
--vcui-checkbox-size-small: 20;
--vcui-checkbox-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-checkbox-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-checkbox-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-checkbox-font-size-large: 18;
--vcui-checkbox-font-size-default: 18;
--vcui-checkbox-font-size-small: 14;
--vcui-checkbox-checked-color: ERROR: Unresolved Alias ID VariableID:21023:471;
--vcui-checkbox-checked-text-color: ERROR: Unresolved Alias ID VariableID:21023:524;
--vcui-checkbox-checked-icon: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-checkbox-border-color: ERROR: Unresolved Alias ID VariableID:21023:508;
--vcui-checkbox-bg: ERROR: Unresolved Alias ID VariableID:21023:530;
--vcui-checkbox-disabled-bg: ERROR: Unresolved Alias ID VariableID:21023:529;
--vcui-checkbox-disabled-border: ERROR: Unresolved Alias ID VariableID:21023:509;
--vcui-checkbox-disabled-text: ERROR: Unresolved Alias ID VariableID:21023:527;
--vcui-checkbox-margin-large-left: 8;
--vcui-checkbox-margin-default: 8;
--vcui-checkbox-margin-small: 8;
--vcui-checkbox-text-color: ERROR: Unresolved Alias ID VariableID:21023:524;
--vcui-slider-progress: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-slider-handle-size: 20;
--vcui-slider-handle-border: 2;
--vcui-slider-handle-color: ERROR: Unresolved Alias ID VariableID:21023:519;
--vcui-slider-disabled: ERROR: Unresolved Alias ID VariableID:21023:533;
--vcui-slider-dot-size: 10;
--vcui-slider-track-color: ERROR: Unresolved Alias ID VariableID:21023:528;
--vcui-slider-track-height: 4;
--vcui-slider-track-radius: 2;
--vcui-switch-width-large: 90;
--vcui-switch-width-default: 80;
--vcui-switch-width-small: 60;
--vcui-switch-handle-large: ERROR: Unresolved Alias ID VariableID:21023:516;
--vcui-switch-handle-default: ERROR: Unresolved Alias ID VariableID:21023:517;
--vcui-switch-handle-small: ERROR: Unresolved Alias ID VariableID:21023:518;
--vcui-switch-font-size-large: ERROR: Unresolved Alias ID VariableID:21023:498;
--vcui-switch-font-size-default: ERROR: Unresolved Alias ID VariableID:21023:499;
--vcui-switch-font-size-small: ERROR: Unresolved Alias ID VariableID:21023:500;
--vcui-switch-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-switch-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-switch-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-switch-color-on: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-switch-color-off: ERROR: Unresolved Alias ID VariableID:21023:508;
}
:root.dark {
color-scheme:dark;
--vcui-input2-size-large: ERROR: Unresolved Alias ID VariableID:21023:516;
--vcui-input2-size-default: ERROR: Unresolved Alias ID VariableID:21023:517;
--vcui-input2-size-small: ERROR: Unresolved Alias ID VariableID:21023:518;
--vcui-input2-padding-large-x: 10;
--vcui-input2-padding-large-y: 5;
--vcui-input2-padding-default-x: 24;
--vcui-input2-padding-default-y: 20;
--vcui-input2-padding-small-x: 24;
--vcui-input2-padding-small-y: 20;
--vcui-input2-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-input2-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-input2-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-input2-font-weight-xsmall: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-input2-font-size-large: 20;
--vcui-input2-font-size-default: 20;
--vcui-input2-font-size-small: 16;
--vcui-input2-font-size-xsmall: 14;
--vcui-input2-text-color: #221A19;
--vcui-input2-border: ERROR: Unresolved Alias ID VariableID:21023:508;
--vcui-input2-hover-border-color: ERROR: Unresolved Alias ID VariableID:21023:513;
--vcui-input2-focus: #221A19;
--vcui-input2-bg-color: #00000000;
--vcui-input2-bg-disabled: #F5F7FA33;
--vcui-input2-icon-color: ERROR: Unresolved Alias ID VariableID:21023:526;
--vcui-input2-placeholder: #7A7675;
--vcui-input2-clear-hover-color: ERROR: Unresolved Alias ID VariableID:21023:525;
--vcui-input2-error-color: #FFFFFF;
--vcui-button-size-large: ERROR: Unresolved Alias ID VariableID:21023:516;
--vcui-button-size-default: ERROR: Unresolved Alias ID VariableID:21023:517;
--vcui-button-size-small: ERROR: Unresolved Alias ID VariableID:21023:518;
--vcui-button-padding-large-x: 18;
--vcui-button-padding-large-y: 0;
--vcui-button-padding-default-x: 15;
--vcui-button-padding-default-y: 0;
--vcui-button-padding-small-x: 13;
--vcui-button-padding-small-y: 0;
--vcui-button-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-button-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-button-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-button-font-size-large: ERROR: Unresolved Alias ID VariableID:21023:498;
--vcui-button-font-size-default: ERROR: Unresolved Alias ID VariableID:21023:499;
--vcui-button-font-size-small: ERROR: Unresolved Alias ID VariableID:21023:500;
--vcui-button-border-color: ERROR: Unresolved Alias ID VariableID:21023:508;
--vcui-button-border-radius-default: 6;
--vcui-button-border-radius-large: 6;
--vcui-button-border-radius-small: 6;
--vcui-button-bg-color: ERROR: Unresolved Alias ID VariableID:21023:534;
--vcui-button-text: ERROR: Unresolved Alias ID VariableID:21023:486;
--vcui-button-disabled-text-color: #FFFFFF;
--vcui-button-disabled-bg: ERROR: Unresolved Alias ID VariableID:21023:534;
--vcui-button-disabled-border: ERROR: Unresolved Alias ID VariableID:21023:509;
--vcui-button-hover-text: ERROR: Unresolved Alias ID VariableID:21023:486;
--vcui-button-hover-bg: ERROR: Unresolved Alias ID VariableID:21023:534;
--vcui-button-hover-border: ERROR: Unresolved Alias ID VariableID:21023:508;
--vcui-button-link-text: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-active-color: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-active-text-color: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-active-border: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-active-bg: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-primary-text: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-primary-bg: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-primary-border: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-button-primary-active: ERROR: Unresolved Alias ID VariableID:21023:467;
--vcui-button-primary-hover-text: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-primary-hover-link-text-color: ERROR: Unresolved Alias ID VariableID:21023:463;
--vcui-button-primary-hover-bg-color: ERROR: Unresolved Alias ID VariableID:21023:467;
--vcui-button-primary-hover-border: ERROR: Unresolved Alias ID VariableID:21023:462;
--vcui-button-primary-disabled-text: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-primary-disabled-bg: ERROR: Unresolved Alias ID VariableID:21023:465;
--vcui-button-primary-disabled-border: ERROR: Unresolved Alias ID VariableID:21023:465;
--vcui-button-secondary-text-color: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-secondary-bg: ERROR: Unresolved Alias ID VariableID:21023:471;
--vcui-button-secondary-border: ERROR: Unresolved Alias ID VariableID:21023:471;
--vcui-button-secondary-outline: ERROR: Unresolved Alias ID VariableID:21023:474;
--vcui-button-secondary-active: ERROR: Unresolved Alias ID VariableID:21023:478;
--vcui-button-secondary-hover-text: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-secondary-hover-link-text-color: ERROR: Unresolved Alias ID VariableID:21023:474;
--vcui-button-secondary-hover-bg-color: ERROR: Unresolved Alias ID VariableID:21023:478;
--vcui-button-secondary-hover-border: ERROR: Unresolved Alias ID VariableID:21023:473;
--vcui-button-secondary-disabled-text: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-button-secondary-disabled-bg: ERROR: Unresolved Alias ID VariableID:21023:476;
--vcui-button-secondary-disabled-border: ERROR: Unresolved Alias ID VariableID:21023:476;
--vcui-tooltip-font-size-large: 30;
--vcui-tooltip-font-size-default: 25;
--vcui-tooltip-font-size-small: 20;
--vcui-tooltip-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-tooltip-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-tooltip-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-tooltip-padding-large-x: 18;
--vcui-tooltip-padding-large-y: 14;
--vcui-tooltip-padding-default-x: 16;
--vcui-tooltip-padding-default-y: 12;
--vcui-tooltip-padding-small-x: 12;
--vcui-tooltip-padding-small-y: 10;
--vcui-tooltip-bg-color: ERROR: Unresolved Alias ID VariableID:21023:522;
--vcui-tooltip-text: ERROR: Unresolved Alias ID VariableID:21023:524;
--vcui-tooltip-border-radius: ERROR: Unresolved Alias ID VariableID:21023:504;
--vcui-tooltip-border-color: ERROR: Unresolved Alias ID VariableID:21023:509;
--vcui-tooltip-dark-bg-color: ERROR: Unresolved Alias ID VariableID:21023:486;
--vcui-tooltip-dark-text: ERROR: Unresolved Alias ID VariableID:21023:486;
--vcui-tooltip-dark-border: ERROR: Unresolved Alias ID VariableID:21023:509;
--vcui-tabs-text-color: #BDBABA;
--vcui-tabs-font-size-large: 40;
--vcui-tabs-font-size-default: 18;
--vcui-tabs-font-size-small: 18;
--vcui-tabs-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:488;
--vcui-tabs-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:488;
--vcui-tabs-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:488;
--vcui-tabs-padding-default-top: 0;
--vcui-tabs-padding-default-bottom: 0;
--vcui-tabs-padding-default-left: 6;
--vcui-tabs-padding-default-right: 6;
--vcui-tabs-padding-large-top: 0;
--vcui-tabs-padding-large-bottom: 0;
--vcui-tabs-padding-large-left: 16;
--vcui-tabs-padding-large-right: 16;
--vcui-tabs-padding-small-top: 0;
--vcui-tabs-padding-small-bottom: 0;
--vcui-tabs-padding-small-left: 6;
--vcui-tabs-padding-small-right: 6;
--vcui-tabs-active-weight: ERROR: Unresolved Alias ID VariableID:21023:488;
--vcui-tabs-active-text: #FFFFFF;
--vcui-tabs-active-border: #EA2626;
--vcui-tabs-border-color: ERROR: Unresolved Alias ID VariableID:21023:512;
--vcui-tabs-border-width: 1.5;
--vcui-tabs-margin-left: 5;
--vcui-select-option-text-color: ERROR: Unresolved Alias ID VariableID:21023:524;
--vcui-select-option-font-size-large: 30;
--vcui-select-option-font-size-default: 24;
--vcui-select-option-font-size-small: 18;
--vcui-select-option-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-select-option-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-select-option-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-select-option-padding-large-left: 20;
--vcui-select-option-padding-large-right: 40;
--vcui-select-option-padding-large-y: 10;
--vcui-select-option-padding-default-left: 15;
--vcui-select-option-padding-default-right: 30;
--vcui-select-option-padding-default-y: 8;
--vcui-select-option-padding-small-left: 15;
--vcui-select-option-padding-small-right: 30;
--vcui-select-option-padding-small-y: 8;
--vcui-select-option-active-text: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-select-option-active-weight: ERROR: Unresolved Alias ID VariableID:21023:488;
--vcui-select-option-active-bg: ERROR: Unresolved Alias ID VariableID:21023:529;
--vcui-select-option-active-radius: 5;
--vcui-checkbox-size-large: 24;
--vcui-checkbox-size-default: 24;
--vcui-checkbox-size-small: 20;
--vcui-checkbox-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-checkbox-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-checkbox-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:492;
--vcui-checkbox-font-size-large: 18;
--vcui-checkbox-font-size-default: 18;
--vcui-checkbox-font-size-small: 14;
--vcui-checkbox-checked-color: ERROR: Unresolved Alias ID VariableID:21023:471;
--vcui-checkbox-checked-text-color: ERROR: Unresolved Alias ID VariableID:21023:524;
--vcui-checkbox-checked-icon: ERROR: Unresolved Alias ID VariableID:21023:458;
--vcui-checkbox-border-color: ERROR: Unresolved Alias ID VariableID:21023:508;
--vcui-checkbox-bg: ERROR: Unresolved Alias ID VariableID:21023:530;
--vcui-checkbox-disabled-bg: ERROR: Unresolved Alias ID VariableID:21023:529;
--vcui-checkbox-disabled-border: ERROR: Unresolved Alias ID VariableID:21023:509;
--vcui-checkbox-disabled-text: ERROR: Unresolved Alias ID VariableID:21023:527;
--vcui-checkbox-margin-large-left: 8;
--vcui-checkbox-margin-default: 8;
--vcui-checkbox-margin-small: 8;
--vcui-checkbox-text-color: ERROR: Unresolved Alias ID VariableID:21023:524;
--vcui-slider-progress: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-slider-handle-size: 20;
--vcui-slider-handle-border: 2;
--vcui-slider-handle-color: ERROR: Unresolved Alias ID VariableID:21023:519;
--vcui-slider-disabled: ERROR: Unresolved Alias ID VariableID:21023:533;
--vcui-slider-dot-size: 10;
--vcui-slider-track-color: ERROR: Unresolved Alias ID VariableID:21023:528;
--vcui-slider-track-height: 4;
--vcui-slider-track-radius: 2;
--vcui-switch-width-large: 90;
--vcui-switch-width-default: 80;
--vcui-switch-width-small: 60;
--vcui-switch-handle-large: ERROR: Unresolved Alias ID VariableID:21023:516;
--vcui-switch-handle-default: ERROR: Unresolved Alias ID VariableID:21023:517;
--vcui-switch-handle-small: ERROR: Unresolved Alias ID VariableID:21023:518;
--vcui-switch-font-size-large: ERROR: Unresolved Alias ID VariableID:21023:498;
--vcui-switch-font-size-default: ERROR: Unresolved Alias ID VariableID:21023:499;
--vcui-switch-font-size-small: ERROR: Unresolved Alias ID VariableID:21023:500;
--vcui-switch-font-weight-large: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-switch-font-weight-default: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-switch-font-weight-small: ERROR: Unresolved Alias ID VariableID:21023:490;
--vcui-switch-color-on: ERROR: Unresolved Alias ID VariableID:21023:460;
--vcui-switch-color-off: ERROR: Unresolved Alias ID VariableID:21023:508;
}
:root.Mode 1 {
--testcollection-color: #FFFFFF;
--testcollection-color2: #FF0000;
--testcollection-color3: #FF0000;
--testcollection-color4: #2AFF6A;
--testcollection-color5: #2AFF6A;
--collection1-color: #FFFFFF;
--collection1-color2: #FFFFFF;
--collection1-color3: #FFFFFF;
--collection1-color4: #FFFFFF;
--collection1-number: 0;
--collection1-number2: 0;
--collection1-boolean: false;
--collection1-string: String value;
--collection-number: 0;
--collection-number2: 0;
--collection-color: #FFFFFF;
--collection-string: String value;
--collection-number3: 0;
--collection-number4: 0;
--collection-number5: 0;
}
:root.Mode 2 {
--testcollection-color: #000000;
--testcollection-color2: #3AE5FF;
--testcollection-color3: #CF7DFF;
--testcollection-color4: #EAFF00;
--testcollection-color5: #EAFF00;
--collection1-color: #FFFFFF;
--collection1-color2: #FFFFFF;
--collection1-color3: #FFFFFF;
--collection1-color4: #FFFFFF;
--collection1-number: 0;
--collection1-number2: 0;
--collection1-boolean: false;
--collection1-string: String value;
}
